@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #140f34;
  --foreground: #171717;
  --gradient: linear-gradient(90deg, #eeecea 18.57%, #c7e9fc 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #140f34;
    --foreground: #171717;
  }
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../public/fonts/Geist/Geist-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.geist {
  font-family: 'Geist' !important;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.gradient-bg {
  background: var(--gradient);
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.transition-start {
  opacity: 0;
  transform: translateY(32px);
  animation: transitionStart 1s linear forwards;
}

@keyframes transitionStart {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
